* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.App {
    width: 800px;
    
}

.card {
    
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 10px;
    background-color: #FFFFFF;
    
}

.postCard{
    
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
  
    
}